<h1><%= @patient.name%></h1>
<h2>Age: <%= @patient.age %></h2>
<ul>
    <% @patient.appointments.each do |app| %>
        <li><%= link_to app.appointment_datetime.strftime("%B %e, %Y at %k:%M"), appointment_path(app) %> Doctor: <%= link_to app.doctor.name, doctor_path(app.doctor) %>
    <% end %>
</ul>